<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972210226536-t0s7avllea1dj841qq3l3shsnfham2oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972210226536-t0s7avllea1dj841qq3l3shsnfham2oe</string>
	<key>API_KEY</key>
	<string>AIzaSyDyWt-AwCdxQFEhAm7Gtp4NaN32lTNsEoE</string>
	<key>GCM_SENDER_ID</key>
	<string>972210226536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kazuya-hanakawa.gamies-com</string>
	<key>PROJECT_ID</key>
	<string>colonee</string>
	<key>STORAGE_BUCKET</key>
	<string>colonee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972210226536:ios:daf8cd0b2cb049cf</string>
	<key>DATABASE_URL</key>
	<string>https://colonee.firebaseio.com</string>
</dict>
</plist>